:root {
  --clr-grey-1: hsl(0, 0%, 21%);
  --clr-grey-2: hsl(213, 28%, 37%);
  --clr-grey-3: hsl(0, 0%, 89%);
  --clr-grey-4: hsl(0, 0%, 97%);
  --clr-grey-5: hsl(216, 12%, 84%);
  --clr-orange-1: hsl(20, 100%, 65%);
  --clr-red-1: hsl(0, 93%, 66%);
  --clr-red-2: hsl(0, 71%, 52%);
  --clr-white: hsl(0, 0%, 100%);
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1120px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--ff-primary);
}

/* affiliation */

.affil-container {
  min-height: 7vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--clr-red-2);
  color: var(--clr-white);
}

.affil-container p {
  cursor: pointer;
}

.affil-btns button {
  background: none;
  border: none;
  color: var(--clr-white);
  cursor: pointer;
}

@media screen and (max-width: 1160px) {
  .affil-container {
    min-height: 10vh;
    padding: 0.5rem 0;
    flex-direction: column;
  }
}

/* logo + navigation links */

.header-container {
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--clr-white);
  box-shadow: var(--light-shadow);
  top: 0;
  position: sticky;
  z-index: 1;
}

.header-logo-link {
  color: var(--clr-grey-1);
  text-decoration: none;
}

.fa-star-of-life {
  color: var(--clr-red-2);
}

.header-menubtns {
  display: none;
}

.nav-list {
  list-style-type: none;
  display: flex;
}

.nav-list li:not(:last-child) {
  margin-right: 1rem;
}

.nav-link {
  color: var(--clr-grey-1);
  text-decoration: none;
}

.nav-link:hover {
  color: var(--clr-red-2);
}

@media screen and (max-width: 1160px) {
  .header-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }

  .header-logo {
    margin: 1.5rem 0;
  }

  .header-menubtns {
    display: block;
    margin: 1.5rem 0;
  }

  .header-menubtns button {
    color: var(--clr-grey-1);
    cursor: pointer;
    background-color: transparent;
    font-size: 1.5rem;
    border: none;
  }

  .header-closemenu {
    display: none;
  }

  .nav-container {
    display: none;
  }

  .nav-list {
    flex-direction: column;
  }

  .nav-list li:not(:last-child) {
    margin-right: 0;
  }

  .nav-list li {
    padding-bottom: 1rem;
  }
}

/* hero */

.hero-container {
  max-width: var(--max-width);
  margin: 5rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-text-container {
  max-width: 500px;
  margin-right: 2rem;
}

.hero-section-title {
  margin-bottom: 1rem;
  font-size: 1.4rem;
  color: var(--clr-red-2);
}

.hero-title {
  color: var(--clr-grey-1);
  font-size: 2.5rem;
}

.hero-texts {
  margin: 1rem 0;
  color: var(--clr-grey-1);
}

.hero-button {
  display: inline-block;
  background-color: var(--clr-red-2);
  color: var(--clr-white);
  text-decoration: none;
  padding: 0.7rem;
  border-radius: 10px;
}

.fa-chevron-right {
  margin-left: 0.2rem;
}

.hero-img-container {
  position: relative;
}

.hero-img {
  max-width: 500px;
}

.hero-img-caption {
  position: absolute;
  top: -1rem;
  right: -1rem;
  background-color: var(--clr-red-2);
  color: var(--clr-white);
  padding: 0.7rem 1.2rem;
}

@media screen and (max-width: 1160px) {
  .hero-container {
    flex-direction: column;
  }

  .hero-text-container {
    margin-bottom: 5rem;
  }
}

@media screen and (max-width: 576px) {
  .hero-text-container {
    max-width: 300px;
  }

  .hero-img {
    max-width: 300px;
  }
}

/* about */

.about-container {
  border-top: 3px solid var(--clr-red-2);
  padding: 5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about {
  max-width: 900px;
  text-align: center;
}

.about-title {
  color: var(--clr-red-2);
}

.about-texts-title {
  color: var(--clr-grey-1);
  font-weight: 700;
  margin: 1rem 0;
}

.about-texts {
  color: var(--clr-grey-1);
  margin-bottom: 2rem;
}

.about-button {
  display: inline-block;
  text-decoration: none;
  background-color: var(--clr-red-2);
  color: var(--clr-white);
  padding: 0.7rem 1.2rem;
}

@media screen and (max-width: 1160px) {
  .about {
    max-width: 600px;
  }
}

@media screen and (max-width: 576px) {
  .about {
    max-width: 300px;
  }
}

/* subscribe */

.subscribe-container {
  max-width: 1100px;
  margin: 0 auto;
}

.subcribe {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.subscribe-title {
  max-width: 500px;
}

.subscribe-title h1 {
  font-size: 1.2rem;
  color: var(--clr-red-2);
  margin-bottom: 1rem;
}

.subscribe-title p {
  color: var(--clr-grey-1);
  font-size: 1.7rem;
  font-weight: 700;
}

.subscribe-details {
  max-width: 500px;
}

.subscribe-details-title {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  color: var(--clr-grey-1);
}

.subscribe-details-links button {
  font-size: 1.1rem;
}

.subscribe-details-links button:first-child {
  cursor: pointer;
  padding: 0.5rem 1rem;
  border: 2px solid var(--clr-grey-1);
  color: var(--clr-grey-1);
  background-color: var(--clr-white);
  font-weight: 700;
}

.subscribe-details-links button:nth-child(2) {
  cursor: pointer;
  background-color: transparent;
  padding: 0.5rem 1rem;
  border: none;
  color: var(--clr-red-2);
}

@media screen and (max-width: 1160px) {
  .subcribe {
    flex-direction: column;
    align-items: center;
  }

  .subscribe-title {
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 576px) {
  .subscribe-title {
    max-width: 300px;
  }

  .subscribe-details {
    max-width: 300px;
  }
}

/* services */

.services-container {
  margin: 5rem 0;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.services-title {
  color: var(--clr-red-2);
  text-align: center;
  margin: 1rem 0;
  margin-bottom: 2rem;
}

.service-cards {
  display: flex;
}

.service-card {
  max-width: 400px;
}

.service-card:not(:last-child) {
  margin-right: 1rem;
}

.service-card-img {
  width: 100%;
}

.service-title {
  color: var(--clr-grey-1);
  margin-top: 1rem;
}

.service-texts {
  color: var(--clr-grey-1);
  margin: 1rem 0;
}

.service-link {
  color: var(--clr-red-2);
  text-decoration: none;
}

@media screen and (max-width: 1160px) {
  .service-cards {
    flex-direction: column;
  }

  .service-card:not(:last-child) {
    margin-right: 0;
    margin-bottom: 1rem;
  }
}

/* clients */

.clients-container {
  margin-bottom: 5rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clients-title {
  text-align: center;
  color: var(--clr-red-2);
  margin-bottom: 2rem;
}

.clients-cards {
  display: flex;
}

.clients-card {
  max-width: 400px;
  border: 2px solid var(--clr-grey-3);
  padding: 1rem;
}

.clients-card:not(:last-child) {
  margin-right: 1rem;
}

.clients-card-img {
  width: 100%;
}

.clients-card-title {
  margin: 1rem 0;
  color: var(--clr-grey-1);
}

.clients-card-texts {
  margin-bottom: 1rem;
  color: var(--clr-grey-1);
}

.clients-card-link {
  display: inline-block;
  padding: 0.5rem 0.7rem;
  background-color: var(--clr-red-2);
  color: var(--clr-white);
  text-decoration: none;
}

@media screen and (max-width: 1160px) {
  .clients-cards {
    flex-direction: column;
  }

  .clients-card:not(:last-child) {
    margin-right: 0;
    margin-bottom: 1rem;
  }
}

/* contact */

.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-grey-4);
}

.contact {
  padding: 5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-address {
  max-width: 500px;
}

.contact-title {
  color: var(--clr-red-2);
}

.contact-texts {
  color: var(--clr-grey-1);
  margin: 1rem 0;
}

.contact-list {
  color: var(--clr-grey-1);
  list-style-type: none;
}

.contact-list:not(:last-child) {
  margin-bottom: 1rem;
}

.contact-list span {
  font-weight: 700;
}

.contact-img-container {
  max-width: 500px;
}

.contact-img {
  width: 100%;
}

@media screen and (max-width: 1160px) {
  .contact {
    flex-direction: column;
  }

  .contact-address {
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 576px) {
  .contact {
    padding: 5rem 1rem;
  }
}

/* footer + copyrights */

.footer-container {
  margin-top: 5rem;
}

.footer-top {
  max-width: 1100px;
  margin: 3rem auto 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 1rem;
}

.footer-section h3 {
  color: var(--clr-red-2);
}

.footer-section-list {
  list-style-type: none;
}

.footer-section-list li:not(:last-child) {
  margin: 1rem 0;
}

.footer-section-list li a {
  text-decoration: none;
  color: var(--clr-grey-1);
}

.footer-section-contact-list {
  display: flex;
}

.footer-section-contact-list li:last-child {
  margin: 1rem 0;
}

.footer-section-contact-list li:not(:last-child) {
  padding-right: 1rem;
}

.footer-bottom {
  margin-top: 3rem;
  border-top: 2px solid var(--clr-grey-3);
  color: var(--clr-grey-1);
  padding: 1rem 0;
}

.footer-bottom p {
  max-width: 1100px;
  margin: 0 auto;
  color: var(--clr-grey-1);
}

@media screen and (max-width: 1160px) {
  .footer-top {
    display: block;
    max-width: 500px;
    margin: 0 auto;
  }

  .footer-section:not(:first-child) {
    margin-top: 2rem;
  }

  .footer-section-contact-list li:last-child {
    margin: 1rem 0;
  }

  .footer-bottom p {
    max-width: 500px;
  }
}

@media screen and (max-width: 576px) {
  .footer-top {
    max-width: 300px;
  }

  .footer-bottom p {
    max-width: 300px;
  }
}
